<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LeliAdmin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/LeliAdmin.styles.css" asp-append-version="true" />
    <link href="~/Content/css/Global.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.datatables.net/v/bs5/dt-2.1.4/datatables.min.css" />
    @await RenderSectionAsync("styles", required: false)
</head>
<body class="fix-sidebar">
    <header>
        <nav class="navbar navbar-nav">
            <h1>TESTE AVBAT</h1>
        </nav>
    </header>
    <input type="hidden" id="codigoMenu" value="@((object)ViewBag.Menu)" />
    <aside class="left-sidebar">
        <partial name="~/Views/Shared/_PartialMenu.cshtml" />
    </aside>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - LeliAdmin - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Script/Global/jsGeral.min.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-2.1.4/datatables.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>