<nav class="sidebar-nav">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a id="@ResourcesMenus.Home" class="nav-pills nav-link bi-house-door" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home" href="~/Home/Index"></a>
        </li>
        <li class="nav-item">
            <a id="@ResourcesMenus.Privacy" class="nav-pills nav-link bi-file-lock" tolltip="Privacy" href="~/Home/Privacy"></a>
        </li>        
        <li class="nav-item">
            <a id="@ResourcesMenus.Storage" class="nav-pills nav-link bi-boxes" href="~/Storage/Index"></a>
        </li>
    </ul>
</nav>