@model LeliAdmin.Model.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-6 d-flex p-md-5">
                <div class="card-body">
                    <div class="text-center card-img">
                        <img src="~/images/logo/leliaromas.png" />
                    </div>
                    <form asp-action="Login" asp-controller="Login" method="post" role="form">
                        <div class="form-group">
                            <label class="form-label">Código Cliente</label>
                            <input asp-for="ClientId" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Login</label>
                            <input asp-for="User" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Senha</label>
                            <input asp-for="Password" class="form-control password" type="password" />
                        </div>
                        <div class="form-group pt-1">
                            <button class="btn gradient-custom" type="submit">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center gradient-custom">
                <div class="text-center mx-md-4">
                    <h4>Seja bem vindo ao nosso sistema!</h4>
                    <p>Esperamos que o dia de hoje seja bem produtivo.</p>
                </div>
            </div>
        </div>
    </div>
</div>
