@{
    ViewBag.Menu = ResourcesMenus.Storage;
}
<div class="container">
    <div class="row">
        <h1>Cabeçalho estoque</h1>
    </div>
    <div class="row">
        <div class="d-flex dt-body-center">

            <div class="col-md-8">
                <table class="table table-bordered table-responsive" id="tblStorage">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Item</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Item teste</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>AItem teste</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Item teste</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>AItem teste</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Item teste</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>AItem teste</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Item teste</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>AItem teste</td>
                            <td>3</td>
                        </tr>             
                        <tr>
                            <td>1</td>
                            <td>Item teste</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>AItem teste</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Item teste</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>AItem teste</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Item teste</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>AItem teste</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Item teste</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>AItem teste</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>


@section scripts {
    <script src="~/Script/Global/storage.min.js"></script>
}