@{
    ViewBag.Menu = ResourcesMenus.Storage;
}
<div class="container">
    <div class="row">
        <h1>Cabeçalho estoque</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table-bordered table">
                <tr>
                    <th>Id</th>
                    <th>Item</th>
                    <th>Quantidade</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Item teste</td>
                    <td>2</td>
                </tr>
            </table>

        </div>

    </div>
</div>