@page
@model PrivacyModel
@{
    ViewBag.Title = "Privacy Policy";
    ViewBag.Menu = ResourcesMenus.Privacy;
}
<h1>@ViewBag.Title</h1>
<div class="row">
    <p>Use this page to detail your site's privacy policy.</p>

</div>